<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="LOG_LEVEL_PATTERN" source="logging.level.pattern" defaultValue="%5p"/>
    <springProperty name="LOG_FILE_NAME" source="logging.file.name" defaultValue="application.log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>E:\huaye-lol-tool-dev\huaye-lol-tool-dev\application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
